.video2{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 190vh; 
}

body {
    background-color: #000000; 
  }

video {
    max-width: 100%;
  }

.logo2{
    float: right;
    transform: scaleX(-1);
}

.rowmundo{
    color: rgb(241, 0, 0);
    float: 0 auto;
}

h1 {
    text-align: center;

}

td::selection {
    color: yellow; 
    background-color: black;
  }

.zuadokk{
    display: none;
}

table {
    height: 1%;
    width: 70%;
    border-collapse: collapse;
    background-color:rgb(199, 193, 193)

}

th, td {
    border: 2px solid rgb(31, 141, 64);
    padding: 100px;
    text-align: center;
}

#tabela-imagem {
    background-image: url('/testekk/holanda.webp');
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
}


.logof1{
    float: left;
    width: 100px;
}

.dada{
    color: rgb(0, 0, 0);
    font-weight: bold;
}

#imagemdomexico {
    background-image: url('/testekk/bandeira-do-mexico.webp');
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
}
.mexicopontos{
    color: rgb(0, 0, 0);
    font-weight: bold;
}

#imagemdoreinounido{
    background-image: url('/testekk/Flag_of_the_United_Kingdom_\(3-5\).svg.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
} 

.pontosdoreinounido{
    color: rgb(0, 0, 0);
    font-weight: bold;
}

#Imagemdaespanha{
    background-image: url('/testekk/Flag_of_Spain.svg.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    

}

.pontosespanha{
    color: rgb(0, 0, 0);
    font-weight: bold;
}

#Imagemdomonaco{
    background-image: url('/testekk/Flag_of_Monaco.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
}

.pontomonaco{
    color: rgb(0, 0, 0);
    font-weight: bold;
}

#imagemaustralia{
    background-image: url('/testekk/Flag_of_Monaco.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
}

.pontoaustralia{
    color: rgb(0, 0, 0);
    font-weight: bold;
}

#imagemcanada{
    background-image: url('/testekk/Flag_of_Monaco.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;   
}

.pontocanada{
    color: rgb(0, 0, 0);
    font-weight: bold;
}

#imagemfranca{
    background-image: url('/testekk/frana_a.webp');
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
}

.pontofranca{
    color: rgb(0, 0, 0);
    font-weight: bold;
}

#imagemtailandia{
    background-image: url('/testekk/bandeira-tailandia.webp');
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
}

.pontotailandia{
    color: rgb(0, 0, 0);
    font-weight: bold; 
}

#imagemjapao{
    background-image: url('/testekk/bandeira-do-japao.webp');
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
}

.pontojapao{
    color: rgb(0, 0, 0);
    font-weight: bold; 
}  

#imagemfinlandia{
    background-image: url('/testekk/Flag_of_Finland.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
}

.pontofinlandia{
    color: rgb(0, 0, 0);
    font-weight: bold; 
}

#imagemalemanha{
    background-image: url('/testekk/Flag_of_Germany.svg.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
}

.pontoalemanha{
    color: rgb(0, 0, 0);
    font-weight: bold;
}

#imagemdinamarca{
    background-image: url('/testekk/bandeira-dinamarca-2.webp');
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
} 

.pontodinamarca{
    color: rgb(0, 0, 0);
    font-weight: bold;
}

#imagemeua{
    background-image: url('/testekk/bandeira_americana_bb.webp');
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
}

.pontoeua{
    color: rgb(0, 0, 0);
    font-weight: bold;
}

.tirar{
    display: none; 
}

.etapaprimeira{
background-color: blueviolet;
width: 100%;
height: 40px;
}

.ocultarisso{
    border-color: rgb(243, 16, 16);
    
}

.zuado2{
    display: none;
}

.etapasegunda{
    background-color: blueviolet;
}

.etapaterceira{
    background-color: blueviolet;
}

.colorfinal{
    background-color: aliceblue;
}

.colorfinall{
    background-color: rgb(255, 255, 255);
}